.coaches {
  padding-top: 85px;
  padding-bottom: 120px;
  background-color: $color-default-white;

  @include vp-1199 {
    padding: 50px 45px 100px;
  }

  @include vp-767 {
    padding: 35px 0 70px;
  }
}

.coaches__container {
  position: relative;
  width: 100%;
  max-width: 1290px;
  min-width: 320px;
  min-height: 260px;
  margin: 0 auto;
  padding: 0 65px;

  @include vp-1199 {
    width: 678px;
    padding: 0 55px;
  }

  @include vp-767 {
    max-width: 240px;
    width: 280px;
    padding: 0 47px;
  }
}

.coaches__slider {
  overflow: hidden;
  margin-bottom: 0;
}

.coaches h2 {
  @include font-title();
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 2px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 39px;
    padding-left: 0;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.coaches__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.coaches__item {
  position: relative;
  min-height: 294px;
  overflow: hidden;

  @include vp-767 {
    min-height: 274px;
  }
}

.coaches__inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px 30px 25px;
  z-index: 10;

  @include vp-1199 {
    padding: 30px 30px 23px;
  }
}

.coaches__inner h3 {
  margin: 0;
  margin-top: auto;
  font-weight: $fw-bold;
  font-size: $fz-small;
  line-height: $lh-pre-modarate;
  color: $color-default-white;
  text-align: center;

  @include vp-1199 {
    padding-left: 5px;
  }
}

.coaches__inner p {
  display: none;
  margin: 0;
  margin-bottom: 32px;
  margin-top: -1px;
  padding: 0;
  font-size: $fz-default;
  line-height: $lh-normal;
  color: $color-spindle;
  text-align: center;

  @include vp-1199 {
    margin-top: -3px;
    transform: translateX(-3px);
  }

  @include vp-767 {
    margin-top: -2px;
    transform: none;
  }
}

.coaches__info ul {
  display: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  padding-left: 30px;
  list-style: none;

  @include vp-1199 {
    padding-left: 32px;
  }

  @include vp-767 {
    padding-left: 14px;
    padding-bottom: 10px;
  }
}

.coaches__info li {
  position: relative;
  margin-bottom: 14px;
  padding-left: 15px;
  font-size: $fz-super-little;
  line-height: $fz-super-small;
  color: $color-default-white;

  &::after {
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  @include vp-1199 {
    margin-bottom: 15px;
  }
}

.coaches__item:hover .coaches__info {
  height: 100%;
  opacity: 1;
}

.coaches__item:hover ul {
  display: block;
}

.coaches__item:hover .coaches__inner {
  top: 0;
  padding: 49px 25px 20px 25px;
  background-color: rgba($color-default-black, 0.89);
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  opacity: 1;
  overflow: auto;

  @include vp-1199 {
    padding-top: 51px;
  }

  @include vp-767 {
    padding: 40px 20px 10px 20px;
  }
}

.coaches__item:hover h3 {
  @include vp-1199 {
    padding-left: 0;
    transform: translateX(-3px);
  }

  @include vp-767 {
    transform: none;
  }
}

.coaches__item:hover p {
  display: block;
}

.coaches img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: $color-default-black;
}

.coaches__control {
  position: absolute;
  top: 64%;
  left: 0;
  transform: translateY(-70%);
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include vp-1199 {
    top: 60%;
    transform: translateY(-45%);
  }

  @include vp-767 {
    width: 90%;
    left: 15px;
  }
}

.coaches__button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateX(3px);
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &::after {
    display: none;
  }

  @include vp-1199 {
    width: 25px;
    height: 35px;
  }

  @include vp-767 {
    transform: translateX(9px) translateY(1px);
  }
}

.coaches__button:hover svg,
.coaches__button:focus svg {
  stroke: $color-resolution-blue;
}

.coaches__button:active svg {
  stroke: rgba($color-resolution-blue, 0.4);
}

.coaches__button--prev {
  transform: rotate(180deg) translateX(3px);

  @include vp-1199 {
    transform: rotate(180deg) translateX(3px) translateY(-2px);
  }

  @include vp-767 {
    transform: rotate(180deg) translateX(7px) translateY(-1px);
  }
}

.coaches__button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 34px;
  fill: transparent;
  stroke: $color-dark-grey;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.coaches__control[data-nojs="no-js"] {
  display: none;
}
