.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  justify-content: flex-end;
  margin: 0;
  margin-right: -11px;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    max-width: 150px;
    margin: -11px;
    padding-top: 11px;
    transform: translateX(6px);
  }

  @include vp-767 {
    max-width: 250px;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    transform: none;
    justify-content: flex-start;
  }
}

.footer-social__item {
  margin-right: 11px;
  margin-bottom: 10px;
}

.footer-social__item a {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-decoration: none;
  background: $color-default-white;
  cursor: pointer;
}

.footer-social__item a:hover,
.footer-social__item a:focus {
  background-color: $color-torch-red;
}

.footer-social__item a:active {
  opacity: 0.5;
}

.footer-social__item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: $color-black-russian;
}

.footer-social__item--vk svg {
  width: 13px;
  height: 8px;
}

.footer-social__item--ok svg {
  width: 9px;
  height: 16px;
}

.footer-social__item--rd svg {
  width: 14px;
  height: 14px;
}
