.header-logo {
  display: block;
  text-decoration: none;
  cursor: auto;
}

.header-logo svg {
  display: block;
  width: 87px;
  height: 20px;
  fill: $color-default-white;

  @include vp-1199 {
    width: 80px;
    height: 19px;
  }

  @include vp-767 {
    width: 67px;
    height: 16px;
  }
}
