.header-social {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-social ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 80px;
  max-height: 200px;
  transform: translateX(10px);
}

.header-social li {
  margin-bottom: 4px;
  margin-left: 10px;
}

.header-social a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: fill 0.2s;
  cursor: pointer;
}

.header-social__link:hover svg,
.header-social__link:focus svg {
  fill: $color-resolution-blue;
}

.header-social__link:active svg {
  opacity: 0.5;
}

.header-social svg {
  display: block;
  width: 13px;
  height: 9px;
  fill: $color-default-white;
}

.header-social__item--special a {
  width: 11px;
  transform: translateX(2px);
}

.header-social__item--special svg {
  width: 12px;
}
