.header-contacts {
  padding-right: 1px;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    max-height: 60px;
    padding-right: 0;
    overflow: hidden;
    overflow-y: auto;
  }

  @include vp-767 {
    max-height: 80px;
    padding-right: 1px;
    padding-left: 0;
  }
}

.header-contacts a {
  display: block;
  margin-bottom: 10px;
  font-weight: $fw-bold;
  font-size: $fz-super-normal;
  line-height: $lh-super-normal;
  font-family: $ff-bebas;
  letter-spacing: $ls-medium;
  text-transform: uppercase;
  color: $color-default-white;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-black-russian;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1199 {
    margin-left: 15px;
    font-size: $fz-normal;
    line-height: $lh-normal;
    letter-spacing: $ls-light;
  }

  @include vp-767 {
    font-size: $fz-super-small;
    line-height: $lh-past-small;
  }
}
