.main-header {
  padding-top: 30px;
  padding-bottom: 50px;
  background: $conic-red-blue;

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 82px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 21px;
  }
}

.main-header__inner {
  display: grid;
  grid-template-columns: 134px 240px 1fr 175px;
  grid-template-rows: min-content 1fr 1fr;
  column-gap: 25px;
  row-gap: 2px;

  @include vp-1199 {
    grid-template-columns: 113px 211px 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 10px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 113px 178px;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;
  }
}

// Logo

.main-header__logo {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: start;

  @include vp-1199 {
    grid-column: 1/2;
  }

  @include vp-767 {
    grid-column: 1/3;
  }
}

// Contacts

.main-header__contacts {
  grid-column: 4/5;
  grid-row: 1/3;
  justify-self: end;

  @include vp-1199 {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  @include vp-767 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

// Content

.main-header__content {
  grid-column: 1/3;
  grid-row: 2/4;

  @include vp-1199 {
    grid-row: 2/6;
  }

  @include vp-767 {
    grid-column: 2/4;
    grid-row: 2/7;
  }
}

// Option

.main-header__options {
  grid-column: 1/2;
  grid-row: 3/4;

  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  @include vp-767 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

// Poster

.main-header__poster {
  grid-column: 3/4;
  grid-row: 2/4;
  align-self: stretch;

  @include vp-1199 {
    grid-column: 3/4;
    grid-row: 2/6;
    align-self: stretch;
    justify-self: end;
  }

  @include vp-767 {
    display: none;
  }
}

// Social

.main-header__social {
  grid-column: 4/5;
  grid-row: 3/4;
  justify-self: end;
  align-self: end;

  @include vp-1199 {
    display: none;
  }
}
