.registration {
  padding-top: 70px;
  padding-bottom: 45px;
  background-color: $color-default-black;

  @include vp-1199 {
    padding-top: 72px;
    padding-bottom: 69px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.registration__inner {
  max-width: 635px;
  margin-left: auto;
  padding-left: 56px;

  @include vp-1199 {
    margin: 0 auto;
    padding: 0 56px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0 15px;
  }
}

.registration h2 {
  @include font-title();
  margin: 0;
  margin-top: -1px;
  margin-bottom: 23px;
  padding: 0;
  padding-right: 50px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 16px;
    padding-left: 10px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
}

.registration__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 30px;
  row-gap: 28px;
  width: 410px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    column-gap: 60px;
    width: 472px;
    padding-left: 10px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    column-gap: none;
    row-gap: 17px;
    width: 100%;
    padding: 0;
  }
}

.registration__form input {
  display: block;
  min-width: 190px;
  min-height: 25px;
  margin: 0;
  padding: 20px 10px 7px 0;
  font-size: $fz-super-little;
  line-height: $lh-super-little;
  color: rgba($color-default-white, 0.5);
  border: none;
  border-bottom: 1px solid $color-light-slate-gray;
  background-color: transparent;
  appearance: textfield;
  cursor: text;

  &:hover,
  &:focus {
    border-color: $color-torch-red;
  }

  &::placeholder {
    color: $color-default-white;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $color-torch-red;
  }

  &:disabled,
  &:hover:disabled {
    opacity: 0.5;
    border-color: $color-light-slate-gray;
    cursor: none;
  }

  &:disabled::placeholder {
    color: $color-default-white;
  }

  @include vp-1199 {
    width: 206px;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 6px;
  }
}

.registration__form button[type="submit"] {
  grid-column: 1/3;
  grid-row: 2/3;
  display: block;
  margin: 0;
  min-width: 100%;
  padding: 16px 20px 16px;
  font-family: $ff-roboto;
  font-weight: $fw-bold;
  font-size: $fz-super-little;
  line-height: $lh-super-little;
  text-transform: uppercase;
  letter-spacing: $ls-interium;
  color: $color-default-white;
  background-color: transparent;
  border: 3px solid $color-default-white;
  transform: translateX(-1px);
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-black;
    border-color: $color-default-black;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    color: $color-default-white;
    background-color: transparent;
    border-color: $color-default-white;
    opacity: 0.5;
    cursor: none;
  }

  @include vp-1199 {
    transform: none;
  }

  @include vp-767 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 21px;
  }
}
