@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin vp-1199 {
  @media (max-width: $vp-1200 - 1) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-768 - 1) {
    @content;
  }
}

// Fonts title

@mixin font-title() {
  font-weight: $fw-bold;
  font-size: $fz-pre-big;
  line-height: $lh-super-interium;
  font-family: $ff-bebas;
  letter-spacing: $ls-medium;
  text-transform: uppercase;
  color: $color-default-black;

  @include vp-1199 {
    font-size: $fz-interium;
    line-height: $lh-interium;
  }

  @include vp-767 {
    font-size: $fz-modarate;
    line-height: $lh-super-modarate;
  }
}

// Radius gradient

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, 0.25), 0 -1px 0 $weight rgba($mix-sub-from, 0.25), 1px 0 0 $weight rgba($mix-sub-to, 0.25), -1px 0 0 $weight  rgba($mix-sub-from, 0.25), 1px -1px 0 $weight rgba($mix-main, 0.5), -1px 1px 0 $weight rgba($mix-main, 0.5), 1px 1px 0 $weight rgba($to, 0.75), -1px -1px 0 $weight rgba($from, 0.75);
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
