// Colors
// ---------------------------------

// Default

$color-default-black:               #102654; // rgba(16, 38, 84, 1);
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-whisper:                     #e8e8e8; // rgba(232, 232, 232, 1);
$color-ghost-white:                 #f8f9fc; // rgba(248, 249, 252, 1);
$color-light-slate-gray:            #74819c; // rgba(116, 129, 156, 1)
$color-grey:                        #787878; // rgba(120, 120, 120, 1);
$color-dark-grey:                   #afafaf; // rgba(175, 175, 175, 1);
$color-spindle:                     #b6bdcc; // rgba(182, 189, 204, 1);
$color-torch-red:                   #ed0233; // rgba(237, 2, 51, 1);
$color-crimson:                     #d10a42; // rgba(209, 10, 66, 1);
$color-chambray:                    #495a7d;// rgba(73, 90, 125, 1);
$color-resolution-blue:             #1c3374; // rgba(28, 51, 116, 1);
$color-dark-cerulean:               #14367a; // rgb(20, 54, 122);
$color-tory-blue:                   #334482; // background: rgba(46, 53, 172, 1);
$color-egyptian-blue:               #103aae;// rgba(16, 58, 174, 1);
$color-cobalt:                      #003eb7; // rgb(0, 62, 183);
$color-black-russian:               #030a1a; //rgba(3, 10, 26, 1);


// Gradient

// $black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$conic-red-blue:                      conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$left-red-blue:                       linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
$left-blue-red:                       linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$fz-pre-little:                     10px;
$fz-little:                         12px;
$fz-super-little:                   14px;
$fz-small:                          18px;
$fz-super-small:                    20px;
$fz-pre-normal:                     22px;
$fz-normal:                         24px;
$fz-super-normal:                   26px;
$fz-pre-modarate:                   28px;
$fz-modarate:                       32px;
$fz-super-modarate:                 34px;
$fz-pre-interium:                   40px;
$fz-interium:                       42px;
$fz-super-interium:                 48px;
$fz-pre-big:                        49px;
$fz-big:                            52px;
$fz-super-big:                      58px;
$fz-pre-large:                      60px;
$fz-large:                          70px;
$fz-super-large:                    71px;
$fz-pre-huge:                       74px;
$fz-huge:                           78px;
$fz-middle-huge:                    80px;
$fz-super-huge:                     86px;
$fz-pre-colossal:                   90px;
$fz-standart-colossal:              100px;
$fz-colossal:                       109px;

// Line height
// ---------------------------------

$lh-default:                        22px;

$lh-start:                          11px;
$lh-pre-little:                     12px;
$lh-little:                         14px;
$lh-past-little:                    15px;
$lh-super-little:                   16px;
$lh-pre-small:                      18px;
$lh-small:                          19px;
$lh-past-small:                     20px;
$lh-super-small:                    21px;
$lh-start-normal:                   23px;
$lh-normal:                         24px;
$lh-past-normal:                    25px;
$lh-super-normal:                   26px;
$lh-pre-modarate:                   27px;
$lh-modarate:                       29px;
$lh-past-modarate:                  30px;
$lh-super-modarate:                 32px;
$lh-pre-medium:                     33px;
$lh-medium:                         34px;
$lh-past-medium:                    36px;
$lh-super-medium:                   39px;
$lh-pre-interium:                   41px;
$lh-interium:                       42px;
$lh-past-interium:                  44px;
$lh-super-interium:                 49px;
$lh-pre-big:                        52px;
$lh-big:                            59px;
$lh-past-big:                       60px;
$lh-super-big:                      64px;
$lh-pre-large:                      72px;
$lh-large:                          78px;
$lh-past-large:                     86px;
$lh-super-large:                    87px;
$lh-pre-huge:                       90px;
$lh-huge:                           106px;
$lh-past-huge:                      107px;
$lh-super-huge:                     109px;
$lh-pre-colossal:                   111px;
$lh-colossal:                       150px;

// Weight
// ---------------------------------

$fw-normal:                          400;
$fw-light:                           300;
$fw-bold:                            700;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;
$ff-bebas:                          "Bebas Neue", "Comic Neue", cursive;

// Letter spacing

$ls-light: 0.02em;
$ls-medium: 0.03em;
$ls-interium: 0.05em;

// Animation
// ---------------------------------

// $tf-default:                        ease;
// $trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
// $trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

// $trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
